
<% layout("/layouts/boilerplate") -%>
<div>
      <div class="row mt-3">
            <div class="col-8 offset-2">
        <b><h1>Edit Listing</h1></b>
      <form method="POST" action="/listings/<%=listing.id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">

              <lable for="title"class="form-lable">title</lable>
              <input  name="listing[title]" type="text"  value="<%=listing.title%>"  class="form-control" required >
               <div class="valid-feedback">description should be short</div>

            </div>
             <div class="mb-3">
                   <lable for="description"class="form-lable">Description</lable>
            <textarea name="listing[description]" class="form-control" required><%=listing.description%>></textarea>
            <div class="valid-feedback">description should be short</div>
            </div>

            <div class="mb-3">
                  Original listing Image <br>
                  <img src="<%=originalImageUrl%>" style="height: 150px;"/>
            </div>


            <div class="mb-3">
            <lable for="image"class="form-lable">uplode new image</lable>
            <input name="listing[image]"   type="file" class="form-control" >
            
            </div>
            <div class="row ">
            <div class="mb-3 col-md-4">
                   <lable for="price"class="form-lable">price</lable>
            <input name="listing[price]" value="<%=listing.price%>" type="number"  class="form-control" required>
            <div class="valid-feedback">valid price</div>
            </div>
            <div class="mb-3 col-md-8">
                <lable for="country"class="form-lable">country</lable>
            <input name="listing[country]"value="<%=listing.country%>" type="text" class="form-control" required>
            <div class="invalid-feedback">country should be valid</div>
            </div>
            </div>
           
             <div class="mb-3">
                   <lable for="location"class="form-lable">location</lable>
            <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
            <div class="valid-feedback">valid location</div>
            </div>
            <button class="btn edit-btn mt-3 ">EDIT</button>
           
       </form>
        </div>
       </div>

    


